.menu-li-filter {
    list-style-type: none;
    margin-top: 5px;
    margin-left: 30px;
    padding: 0;
    display: inline-block;
    width: 130px;
    height: 80px;
    font-family: monospace;
    font-size: 15px;
    border-radius: 4px;
}

.li-a-filter {
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #030303;
}

.menu-li-filter:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgb(111, 111, 111);
}

.menu-li-filter:hover .li-a-filter {
    color: #757C96;
}

#sepia-li {
    background-image: url(../images/sepia.jpeg);
    background-size: 150px;
}

#grey-li {
    background-image: url(../images/greyscale.jpeg);
    background-size: 150px;
}

#invert-li {
    background-image: url(../images/invert.jpg);
    background-size: 150px;
}

#rbg-li {
    background-image: url(../images/rbg.jpg);
    background-size: 150px;
}

#bgr-li {
    background-image: url(../images/bgr.jpg);
    background-size: 150px;
}

#gbr-li {
    background-image: url(../images/gbr.jpg);
    background-size: 150px;
}

.filter-btn {
    background-size: 150px;
    width: 130px;
    height: 80px;
    background: transparent;
    border: none !important;
    box-sizing: 150px;
    outline: 0;
}

.filter-btn:hover {
    cursor: pointer;
}
