.right-buttons {
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: 1175px;
    background-color: #757C96;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #c7c7c7;
    outline: 0;
}

.right-buttons:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgb(111, 111, 111);
    background-color: #8088a7;
    transform: scale(1.1);
}

.img-right-buttons {
    width: 35px;
}

#undo {
    margin-top: 150px;
}

#redo {
    margin-top: 230px;
}

#reset {
    margin-top: 310px;
}
