.menu-li-drawing {
    list-style-type: none;
    margin-top: 5px;
    margin-left: -5px;
    padding: 0;
    display: inline-block;
    width: 200px;
    height: 80px;
    font-family: monospace;
    font-size: 15px;
    border-radius: 4px;
}

.li-a-drawing {
    margin-top: 80px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #030303;
}

.menu-li-drawing:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgb(111, 111, 111);
}

.menu-li-drawing:hover .li-a-drawing {
    color: #757C96;
}

#drawing-menu {
    margin-top: -278px;
}

#pencil {
    background-image: url(../images/pencil.png);
    background-size: 220px;
}

#circle {
    background-image: url(../images/circle.png);
    background-size: 220px;
}

#spray {
    background-image: url(../images/spray.png);
    background-size: 220px;
}
